{
    "arrowParens": "avoid",
    "semi": true,
    "bracketSpacing": true,
    "trailingComma": "none",
    "printWidth": 100,
    "tabWidth": 4,
    "parser": "typescript",
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^components/(.*)$",
        "^utils/(.*)$",
        "^assets/(.*)$",
        "^@fontsource/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ]
}
